USE [master]
GO
/****** Object:  Database [Lab2_DBFirst]    Script Date: 8/8/2025 8:56:33 PM ******/
CREATE DATABASE [Lab2_DBFirst]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab2_DBFirst', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab2_DBFirst.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab2_DBFirst_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab2_DBFirst_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab2_DBFirst].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab2_DBFirst]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 8/8/2025 8:56:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Url] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 8/8/2025 8:56:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [ntext] NULL,
	[BlogId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

INSERT [dbo].[Blogs] ([BlogId], [Name], [Url]) VALUES (1, N'Văn hóa', NULL)
INSERT [dbo].[Blogs] ([BlogId], [Name], [Url]) VALUES (2, N'Xã hội', NULL)
INSERT [dbo].[Blogs] ([BlogId], [Name], [Url]) VALUES (3, N'Tự nhiên', NULL)
SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([PostId], [Title], [Content], [BlogId]) VALUES (1, N'Bóng đá Việt Nam thay huấn luyện viên', N'Ông Nguyễn Hữu Thắng trở thành tân huấn luyện viên tuyển Việt Nam', 1)
INSERT [dbo].[Posts] ([PostId], [Title], [Content], [BlogId]) VALUES (2, N'Tiêm phòng vaccine bệnh dại', N'Tiêm phòng ngày 25/02/2012', 2)
INSERT [dbo].[Posts] ([PostId], [Title], [Content], [BlogId]) VALUES (3, N'Tin không tự nhiên', N'Tin tự nhiên', 2)
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
/****** Object:  Index [IX_Posts_BlogId]    Script Date: 8/8/2025 8:56:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_BlogId] ON [dbo].[Posts]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.Blogs_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([BlogId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.Blogs_BlogId]
GO
USE [master]
GO
