USE [master]
GO
/****** Object:  Database [MVCDatabase]    Script Date: 8/19/2025 7:35:45 AM ******/
CREATE DATABASE [MVCDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVCDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MVCDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MVCDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MVCDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVCDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVCDatabase]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/19/2025 7:35:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[ImagePath] [nvarchar](500) NULL,
	[Birthday] [datetime] NULL,
	[Phone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[LastLogin] [datetime] NULL,
	[GroupID] [int] NULL,
	[Level] [int] NULL,
	[Score] [int] NULL,
	[Active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountGroup]    Script Date: 8/19/2025 7:35:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountGroup](
	[AccountGroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[Active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 8/19/2025 7:35:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[ConfigName] [nvarchar](50) NULL,
	[ConfigValue] [ntext] NULL,
	[Active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 8/19/2025 7:35:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[ParentID] [int] NULL,
	[Active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupPath]    Script Date: 8/19/2025 7:35:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupPath](
	[GroupPathID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[PathID] [int] NOT NULL,
	[AccessMaskID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupPathID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 8/19/2025 7:35:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogName] [nvarchar](50) NULL,
	[LogDescription] [ntext] NULL,
	[LogDate] [datetime] NULL,
	[AccountID] [int] NULL,
	[ReceiverID] [int] NULL,
	[GroupID] [int] NULL,
	[Active] [int] NULL,
	[LogCategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogCategory]    Script Date: 8/19/2025 7:35:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogCategory](
	[LogCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[LogCategoryName] [nvarchar](50) NULL,
	[LogCategoryDescription] [ntext] NULL,
	[Active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Path]    Script Date: 8/19/2025 7:35:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Path](
	[PathID] [int] IDENTITY(1,1) NOT NULL,
	[PathName] [nvarchar](50) NULL,
	[PathDescription] [nvarchar](500) NULL,
	[PathURL] [nvarchar](500) NULL,
	[ImageURL] [nvarchar](500) NULL,
	[OrderNo] [int] NULL,
	[Display] [int] NULL,
	[ParentID] [int] NULL,
	[Active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PathID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [AccountName], [Password], [FullName], [ImagePath], [Birthday], [Phone], [Mobile], [Email], [Address], [CreatedDate], [LastLogin], [GroupID], [Level], [Score], [Active]) VALUES (1, N'1', N'1', N'1', N'1', CAST(N'2004-12-12T00:00:00.000' AS DateTime), N'1', N'1', N'1', N'1', CAST(N'2004-12-12T00:00:00.000' AS DateTime), CAST(N'2004-12-12T00:00:00.000' AS DateTime), 1, 1, 1, 1)
INSERT [dbo].[Account] ([AccountID], [AccountName], [Password], [FullName], [ImagePath], [Birthday], [Phone], [Mobile], [Email], [Address], [CreatedDate], [LastLogin], [GroupID], [Level], [Score], [Active]) VALUES (2, N'2', N'2', N'2', N'2', CAST(N'1990-12-12T00:00:00.000' AS DateTime), N'12313', N'1231', N'13122', N'123', CAST(N'1990-12-12T00:00:00.000' AS DateTime), CAST(N'1990-12-12T00:00:00.000' AS DateTime), 23, 23, 23, 23)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Path] ON 

INSERT [dbo].[Path] ([PathID], [PathName], [PathDescription], [PathURL], [ImageURL], [OrderNo], [Display], [ParentID], [Active]) VALUES (1, N'dfgdfdfg', N'dhtrh', N'rthrth', N'rhtrh', 3, 1, 0, 1)
INSERT [dbo].[Path] ([PathID], [PathName], [PathDescription], [PathURL], [ImageURL], [OrderNo], [Display], [ParentID], [Active]) VALUES (2, N'dskfs', N'ksdfmks', N'msdkf', N'ksdfmsdf', 23, 1, 0, 1)
INSERT [dbo].[Path] ([PathID], [PathName], [PathDescription], [PathURL], [ImageURL], [OrderNo], [Display], [ParentID], [Active]) VALUES (3, N'sdfs', N'wefwefwf', N'wefwef', N'fefwefw', 1231, 0, 1, 0)
SET IDENTITY_INSERT [dbo].[Path] OFF
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Log] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[AccountGroup]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[AccountGroup]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[Group] ([GroupID])
GO
ALTER TABLE [dbo].[GroupPath]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[Group] ([GroupID])
GO
ALTER TABLE [dbo].[GroupPath]  WITH CHECK ADD FOREIGN KEY([PathID])
REFERENCES [dbo].[Path] ([PathID])
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[Group] ([GroupID])
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD FOREIGN KEY([LogCategoryID])
REFERENCES [dbo].[LogCategory] ([LogCategoryID])
GO
USE [master]
GO
